body { 
    background-color: #eaffed
}

.navbar {
    background-color: #caffd2
}

.collapsing {
    background-color: #eaffed
}

.in {
    background-color: #eaffed
}

.home {
    padding-top: 100px;
    width: 100%;
    height: 600px;
}

.about {
    width: 100%;
    height: 400px;
    background-color: #16A199;
    padding: 50px 
}

@keyframes slideRight {
    0% {
        transformX: -500px
    }

    100% {
        transformX: 0px
    }
}

.slider.slide-right {
    opacity: 0;
    transition: all 1000ms linear;
    -webkit-transition: all 1000ms linear;
    -moz-transition: all 1000ms linear;
    -o-transition: all 1000ms linear;
    transform: translatex(-500px);
    -webkit-transform: translatex(-500px);
    -moz-transform: translatex(-500px);
    -o-transform: translatex(-500px);
}

.slider.slide-right.in-view {
    opacity: 1;
    transform: translatex(0px);
    -webkit-transform: translatex(0px);
    -moz-transform: translatex(0px);
    -o-transform: translatex(0px);
}
#email {
    color: black
}
/*.welcome-text1 {
    padding: 50 30 30 100;
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@-webkit-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@-moz-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}

@-o-keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1}
}*/